@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300&family=Red+Hat+Display:wght@500;700;900&display=swap');


body{
  font-family: 'Big Shoulders Display', cursive;
font-family: 'Red Hat Display', sans-serif;
background-image: url(images/pattern-background-desktop.svg);
background-repeat: no-repeat;
background-size: contain;
background-color: hsl(225, 100%, 94%);
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.genel{
  position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50% , -50%);
width: 450px;
height: 600px;
background-color: white;
border-radius: 20px;
overflow: hidden;
}

.subtittle{
  opacity: 0.5;
letter-spacing: 1px;
text-align: center;
}

.planbox{
  background-color: #fff;
  margin-top: 30px;
  position: relative;
  width: 450px;
  height: 100px;
  display: flex;
  background-color: hsl(225, 100%, 98%);
}

.planbox-left{
  display: flex;
margin-left: 10px;
}


.kutucuk{
  margin-left: 15px;
  margin-top: 5px;
}


.kutucuk p{
  opacity: 0.5;
}

.yazılar{
  margin-top: 30px;
}

.kutucuk h5{
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.tittle{
  text-align: center;
}

.planbox a {
  color: blue;
  font-size: 16px;
  text-align: end;
  margin-top: 20px;
  text-decoration: none;
  padding-left: 200px;
}

.planbox a:hover{
  color: blue;
}

.buton{
  color: #fff;
  font-weight: bolder;
  text-decoration: none;
  border: 20px solid blue ;
  display: inline-block;
  border-radius: 10px;
  overflow: hidden;
  background-color: blue;
  width: 400px;
  margin-left: 20px;
  padding-left: 110px;
  box-shadow: 2px 2px 4px 2px thistle;  /*kutunun etrafına gölge - textshadow : yazının etrafına gölge */
}

.iptalbuton{
  color: black;
  text-decoration: none;
  display: inline-block;
  border: 20px solid #fff;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  width: 400px;
  margin-left: 20px;
  font-weight: lighter;
  opacity: 0.7;
  padding-left: 120px;
}
